/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}

.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.navbar-menu li {
	display: inline-block;
}

.navbar-menu li a {
	display: inline-block;
	color: #000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .07s ease-in-out;
	-webkit-transition: all .07s ease-in-out;
	-moz-transition: all .07s ease-in-out;
	-ms-transition: all .07s ease-in-out;
	-o-transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
	opacity: 1;
}

.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}

.search-form {
	border: 1px solid #5200a5;
	display: inline-flex;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
}

.search-form_txt {
	border: none;
	width: 400px;
	outline: none;
	font-size: 20px;
}

.dearch-form_btn {
	border: none;
}

.open {
	margin-left: 80px;
	padding: 20px 20px;
	background-color: #5200a5;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	-ms-border-radius: 85px;
	-o-border-radius: 85px;
	color: #fff;
	text-decoration: none;
	transition: all .1s;
	-webkit-transition: all .1s ease-in-out;
}

.navbar-brand {
	font-weight: 800;
	font-size: 30px;
	text-decoration: none;
	color: #000;
	transition: all .07s ease-in-out;
}

.navbar-brand:hover {
	color: #5200a5;
}

.open:hover {
	transform: scale(1.04);
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-ms-transform: scale(1.04);
	-o-transform: scale(1.04);
}

.cards {
	/* display: flex;
	justify-content: center; */ 
}

.cards__container {
	padding-left: 60px;
	height: 250;
	width: 100;
}
.cards__box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 250;
	width: 200;
}

.cards__item {
	margin-right: 30px;
	margin-bottom: 60px;
}

.cards__money {
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
	font-weight: 600;
}